* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before{

    box-sizing: border-box;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Outfit', sans-serif; */


body {
    font-family: 'Outfit', sans-serif;
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    
    
}

/* #E2350D - red */


.btn-open {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-open>h1{
    background-color: #E2350D;
    padding: 1rem;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
    letter-spacing: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.btn-open>h1:hover{
    background-color: white;
    color: #E2350D;
}

.pokedex-container{
    display: none;
    top: 0;
    left: 50;
    z-index: 1;
    position: fixed;
}

.container {
    
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.card {
    background-color: #e2340d;
    width: 880px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 14px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    
    
}

.btn-close {
    display: flex;
    justify-content:left;
    position: absolute;
    top: 85px;
    left: 10px;
    padding: 0.4rem 1.4rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bolder;
    background-color: white;
    color: #e2340d;
    border-radius: 20px;
    transform: 0.8s;
}

.btn-close:hover {
    background: #e2340d;
    color: white;
    border: 1px solid white;
}


.card img {
    width: 200px;
    height: 200px;
    /* background-color: white; */
    margin-left: 40px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.card h1 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 4rem;
    font-size: 3rem;
    font-weight: 700;
    border: solid white 2px;
    padding: 0 2.4rem;
    background-color: white;
    color: #E2350D;
    text-align: center;
    letter-spacing: 0.5rem;
    border-radius: 0.4rem;
   
}

.card h2 {
    padding: 0.4rem;
    font-weight: 700;
    color: white;
    font-size: 3rem;
    border-bottom: 2px white solid;
    margin-bottom: 0.9rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.card p {
    padding: 0 3rem;
    font-weight: 400;
    color: white;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 5rem;
}

.btn {
    background-color: white;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    color: #E2350D;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    border-radius: 4rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
   margin-bottom: 4rem;
   cursor: pointer;
   transition: 0.3s;
}

.btn:hover {
    background-color: #E2350D;
    color: white;
    border: 1px solid white;
}